Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==23.0.0
requests==2.32.2
pandas==2.2.0
numpy==1.26.4
matplotlib==3.9.0
geopandas==1.0.1
folium==0.16.0
streamlit==1.36.0
dash==2.16.1  # (o la versión más reciente)
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==6.0.0
